# Decision Tree Algorithm in ML

In [28]:
# import libraries
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age-months  height-inches  weight gender likeness
0          40           40.5      43      M  Biryani
1          45           40.0      35      F  Biryani
2          47           39.5      35      F  Biryani
3          48           40.0      37      M   Pakora
4          49           39.0      36      M  Biryani

In [29]:
df['gender'] = df['gender'].replace('M',1)
df['gender'] = df['gender'].replace('F',0)
df.head()

   age-months  height-inches  weight  gender likeness
0          40           40.5      43       1  Biryani
1          45           40.0      35       0  Biryani
2          47           39.5      35       0  Biryani
3          48           40.0      37       1   Pakora
4          49           39.0      36       1  Biryani

In [30]:
# selection of input and output variable
x = df[['weight', 'gender']]
y = df['likeness']

In [31]:
x.head()

   weight  gender
0      43       1
1      35       0
2      35       0
3      37       1
4      36       1

In [32]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3     Pakora
4    Biryani
Name: likeness, dtype: object

In [33]:
# apply machine learning algortihm
from sklearn.tree import DecisionTreeClassifier

# creat and fit our model
model = DecisionTreeClassifier()
model.fit(x,y)

# prediction
model.predict([[80,1]])
model.predict([[35,0]])

C:\Users\malik zaheer abbas\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\malik zaheer abbas\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [34]:
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age-months  height-inches  weight gender likeness
0          40           40.5      43      M  Biryani
1          45           40.0      35      F  Biryani
2          47           39.5      35      F  Biryani
3          48           40.0      37      M   Pakora
4          49           39.0      36      M  Biryani

In [35]:
# selection of input and output variable
x = df[['age-months', 'height-inches', 'weight', 'gender']]
y = df['likeness']

In [36]:
df['gender'] = df['gender'].replace('M',1)
df['gender'] = df['gender'].replace('F',0)
df.head()

   age-months  height-inches  weight  gender likeness
0          40           40.5      43       1  Biryani
1          45           40.0      35       0  Biryani
2          47           39.5      35       0  Biryani
3          48           40.0      37       1   Pakora
4          49           39.0      36       1  Biryani

# How to measure the accuracy of our model
## Split data into test and train (80/20)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, )  # 80% training data, and 20% testing data

# create a model
model = DecisionTreeClassifier()

# fitting a model
model.fit(x_train, y_train)

predicted_values = model.predict(x_test)
predicted_values

In [ ]:
# checking score
# y_test = actual_values
score = accuracy_score(y_test, predicted_values)
score

## How to train and save your model

In [ ]:
pip install joblib

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib 
model = DecisionTreeClassifier().fit(x,y)

joblib.dump(model, 'foodie.joblib')

## Graph

In [ ]:
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)

# graphic evaluation
tree.export_graphviz(model,out_file='foodie.dot', feature_names=['age', 'gender'],class_names=sorted(y.unique()), label='all', rounded=True, filled=True)