# K-Nearest Neighbors (K-NN)

In [2]:
# import libraries and dataset
import pandas as pd
df = pd.read_csv('mldata.csv')
df['gender']= df['gender'].replace('M', 1)
df['gender']= df['gender'].replace('F', 0)

In [4]:
df.head()

   age-months  height-inches  weight  gender likeness
0          40           40.5      43       1  Biryani
1          45           40.0      35       0  Biryani
2          47           39.5      35       0  Biryani
3          48           40.0      37       1   Pakora
4          49           39.0      36       1  Biryani

In [5]:
# selecting of input and output variables
x = df[['weight','gender']]
y = df['likeness']

In [6]:
x.head()

   weight  gender
0      43       1
1      35       0
2      35       0
3      37       1
4      36       1

In [7]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3     Pakora
4    Biryani
Name: likeness, dtype: object

In [8]:
# model and prediction
# apply machine learning algortihm
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)

# train the model using the training sets
model.fit(x,y)
# predict output
predicted= model.predict([[70,1]])  # weight =70 , gender=1
predicted

C:\Users\malik zaheer abbas\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Pakora'], dtype=object)

In [9]:
redicted= model.predict([[35,0]])  
predicted

C:\Users\malik zaheer abbas\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Pakora'], dtype=object)

In [11]:
predicted= model.predict(x)  
predicted

array(['Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Pakora',
       'Pakora', 'Pakora', 'Samosa', 'Biryani', 'Pakora', 'Pakora',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Pakora', 'Pakora', 'Pakora', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Pakora', 'Pakora',
       'Pakora', 'Pakora'], dtype=object)

In [14]:
# metrices for evaluation
## split data into test and train (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, )  # 80% training data, and 20% testing data

# create a model
model = KNeighborsClassifier(n_neighbors=5)

# fitting a model
model.fit(x_train, y_train)
predicted_values = model.predict(x_test)
predicted_values
 # cheking score
 # y_test = actual_values
score = accuracy_score(y_test, predicted_values)
print('The accuracy score for our model is =', score)

The accuracy score for our model is = 0.4